.sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    left: -100%;
    animation: slide-open 0.75s forwards;
}

.sidebar.close{
    left: 0;
    animation: slide-close 0.75s forwards;
}

@keyframes slide-open{
    100%{ left: 0;}
}

@keyframes slide-close{
    100%{ left: -100%;}
}